body {
    /*display: flex;*/
    font-family: gill sans;
    font-weight: lighter;
    background-color: beige;
    overflow: none}

h2 {
font-family: gill sans;
font-weight: lighter;
text-align: center;
color: black}


.foundpoem {

}

.text{
  
color: black;
padding-right: 20px; padding-left: 20px; }
/*background-color: #0d0825;
}

/*.text3 {
  
color: black;
padding-right: 20px; padding-left: 20px; 
 }

.text4{
  
  color: darkorange;
background-color: beige;
text-align: left}

.text5{

color: darkslategrey;
background-color: beige;
text-align: center}
*/

mark {
  background-color: grey;
  color: black;
   opacity: 0.3;
}